.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  .aside {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    background-color: white;
    z-index: 10000;
    hr {
      margin: 0;
    }
    .profileInfo {
      img {
        width: 60px;
      }
      display: flex;
      align-items: center;
      padding: 20px;
      gap: 20px;
    }
  }
}
